main {
  display: flex;
  gap: 0.5vw;
  z-index: -1;
}

.Input-Container {
  height: 95vh;
  margin: 1.5rem auto;
  padding: 1rem 1rem;
  border-radius: 2rem;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;

  background-color: #f8f8f8;
  opacity: 1;
  background-image:  radial-gradient(#d9bf77 0.5px, transparent 0.5px), radial-gradient(#d9bf77 0.5px, #f8f8f8 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

.Input-Container>input {
  background-color: #f8f8f8;
  opacity: 1;
  background-image:  radial-gradient(#d9bf77 0.5px, transparent 0.5px), radial-gradient(#d9bf77 0.5px, #f8f8f8 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

input::placeholder {
  color: #495057;
  font-size: 1rem;
}

input.title {
  color: #002366;
  font-weight: 500;
  height: 2.25rem;
  font-size: 1.75rem;
  width: 75%;
  text-align: center;
  font-style: italic;
}
input.title::placeholder{
  font-size: 1.25rem;
  font-style: none;
}

input.author{
  color: #002366;
  font-weight: 500;
  margin: 5px 2% 5px 48%;
  height: 1.75rem;
  font-size: 1.5rem;
  text-align: right;
  padding: 0 0.25rem;
  width: 50%;
}
input.author::placeholder{
  font-size: 1rem;
  font-style: none;
}

#download{
  height: 2rem;
  width: 5rem;
  border: #90c08b solid 1px;
  background-color: #90c08b;
  border-radius: 10px;
}

#download.hide{
  background-color: #a0a0a0;
  border-color: #a0a0a0;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 0 3rem;
  z-index: -1;
}
nav>div>button{
  border: none;
  margin-left: 0.25rem;
  background-color: inherit;
}

h1{
  font-size: 2.5rem;
  font-size: 40px;
  font-style: italic;
  color: #4c2f27;
  font-family: 'Dancing Script', cursive;
  font-size: 700;
}