* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Input-Container {
  min-width: 75%;
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
}

main {
  display: flex;
}
